page-chatbody {

    .online {
        position: absolute;
        width: 10px;
        background: #11f337;
        height: 10px;
        margin-left: 30px;
        top: 35px;
        border-radius: 50%;
    }

    .offline {
        position: absolute;
        margin-left: 30px;
        top: 35px;
        width: 10px;
        background: #585b5d;
        height: 10px;
        border-radius: 50%;
    }
    .item-md.item-block .item-inner {
        border: none !important;
    }

    .chat {
        width: 320px;
    }

    .bubble{
        background-color: #F2F2F2;
        border-radius: 17px;
        box-shadow: 0 0 6px #B2B2B2;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        vertical-align: top;
        height: -50px;
        width: -60px;
    }

    .me {
        margin: 5px 45px 5px 20px;  
        background-color: #374179;         
    }

    .me::before {
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
           
    }

    .you {
        margin: 5px 20px 5px 45px;  
    background-color: #257AA7;          
    }

    .you::before {
        box-shadow: 5px -5px 5px 5 rgba( 178, 178, 178, .4 );
 
    }

    .chatwindow {
        padding-bottom: 70px;
    }
    .input{
        border-radius: 30px !important;
        outline-color: #374179;
    }







}