<ion-header>

  <ion-navbar color="logo">
    <ion-title>{{details.Name}}</ion-title>
    <div class="online" *ngIf="details.Status == onlineStatus"></div>
    <div class="offline" *ngIf="details.Status == offlineStatus"></div>
    <span class="Status" style="margin-left: 70px;">{{details.Status}}</span>
  </ion-navbar>

</ion-header>


<ion-content >

<div>
	<ion-list no-lines>
		<ion-item *ngFor="let message of allMessages; let last = last" (press)="showMessageConfirm(message, myDetails, details)">

			<ion-avatar item-right *ngIf="message.Id != details.Id">
				<img src="{{myDetails.Photo}}">
			</ion-avatar>
			<div class="bubble you" *ngIf="message.Id != details.Id">
				<h3 text-wrap ion-text color="light">{{message.Body}}</h3>
				<div class="spacer" style="height: 10px;"></div>

				<div><h3 text-wrap ion-text color="light" style="margin-left: 50px;" >{{message.Time | date:'short'}}</h3></div>

			</div>


			<ion-avatar item-left *ngIf="message.Id === details.Id">
				<img src="{{details.Photo}}">
			</ion-avatar>
			<div class="bubble me" *ngIf="message.Id === details.Id">
				<h3 text-wrap ion-text color="light">{{message.Body}}</h3>
				<div class="spacer" style="height: 10px;"></div>

				<h3 text-wrap ion-text color="light" style="margin-left: 50px;">{{message.Time | date:'short'}}</h3>


			</div>


		</ion-item>
	</ion-list>
</div>

</ion-content>

<ion-footer>
	<ion-toolbar color="col">
		<ion-textarea type="text"  round block outline color="light"  placeholder="type your message" ion-text color="light" [(ngModel)]="newMessage.body"></ion-textarea>
		<ion-buttons end>
			<button ion-button ion-icon icon-only (click)="sendMessage()">
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>