
<ion-header >
  <ion-navbar  color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    <ion-title  style="text-transform: none;" >Nearby</ion-title>
  </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="backkcolor">
    
    <button ion-button round outline style="height:10vw; width:200vw; text-transform: none; " center color="purple"  (click)="signin()">
      <img src="../assets/icons8-search.png" style="margin-left: -12px;"/>
   <p style="font-size:xx-small; margin-left: 2px;" color= "purple">Search for municipality facility,office,center etc</p>
  </button>
  </div>
 
 <div class="update" style="height: 2vw;"></div>
 <div class="service" >
  <p ion text-color="purple" style="font-weight: bold;font-size: large;">Service Centres</p>
</div>
 <div>

  <ion-grid>
    <ion-row>
      <ion-col >
       
         <div  (click)="sars()" style="width:34vw;height:24vw ;margin-left: -18px; " >
        <img src="assets/sars.png" />
      </div>
      
      </ion-col>
      <ion-col style="bottom: -7px;">
      
         <div  style="width:34vw;height:24vw;margin:-6px;"center>
        <img  src="assets/office.png"  />
        <p></p>
      </div>
       
      </ion-col>
      <ion-col>
      
         <div style="width:34vw;height:24vw;margin-right: -66px; ">
        <img  src="assets/license.png" />
      </div>
     
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
  

  
</ion-content>
