page-bookings {
    .backkcolor{
        text-align: center;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .myphoto
    {
        width: 100px;
        height:50px;
        background-size:contain;      
    }
   
    .title{
        text-align: center;
    }
       
        .service{

            text-align: left;
            color: #374179;
        }

}
