
<ion-content padding class ="bg-image">
	<div >
	 <ion-card-content>
	  
		<ion-list no-lines>
		 
		  <div  style="height:10vw; width:40vw;"></div>
		<ion-col>
		  
			<p  class="title-custom" text-center style="font-size: 18px; font-weight: bold;" ion-text color="logo" >Welcome to </p>
		   
			<p class="title-custom" text-center style="font-size: 18px;"  ion-text color="logo" >South African</p>
		   
			<p class="title-custom" text-center  style="font-size: 18px;"  ion-text color="logo" >Council of Churches</p>
		
		  </ion-col> 
  
		  <!--Username button-->
		 <div  style="height: 20px;"></div> 
		 <button  ion-button round block outline color="logo" style="height: 10vw; width:200px; margin-left: 50px;" center >
		  <ion-item center>
			<ion-input type="email" placeholder="Username"  text-center [(ngModel)]="userDetails.Email"  ></ion-input>
		  </ion-item>
		 </button>
  
  
		  <div class="spacer" style="height: 3px;"></div>
		  <button  ion-button round block outline color="logo" style="height: 10vw; width:200px; margin-left: 50px;"  center>
		  <ion-item center>
			<ion-input type="password" placeholder="Password" text-center [(ngModel)]="userDetails.Password"></ion-input>
		  </ion-item>
		  </button>
		  <div class="spacer" style="height: 3px;"></div>
		  <div class="color"><button ion-button round  style="height:10vw; width:40vw; text-transform: none; " center color="logo"  (click)="login()">Login</button></div>
		  <a (click)="forgrtPassword()"  ion-text color="logo" class="color" style="text-align: center;" center>Forgot login details ? <b> Get Help </b></a> 
		  
		  <p style="text-align: center;" ion-text color="logo">Don't have an account?</p> 
		 <div class="color" ><button  [navPush]="registerPage" ion-button round style="height:10vw; width:40vw; text-transform: none; " center color="light"  ion-text-color="logo" (click)="signup()">Sign up</button></div> 
		  <div class="spacer" style="height: 3px;"></div>
		</ion-list>
	  
	  </ion-card-content>
   </div>
	
  
  </ion-content>
  