page-login {

	.bg-image {
        background-image: url('../assets/imgs/background.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: top right;
        background-size: 108%;
	}
	.profile-image{
        img{
            height: 50%;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: left;
            align-content: center;
            align-self: center;
        }
    }



	ion-card.card {
        box-shadow: none;
        background: rgba(252, 250, 250, 0.712);
        border-radius: 5px;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        .scroll-content {
            align-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

a, p,
ion-card-header.card-header {
    color: #374179!important;
}

.list > .item-block:first-child {
    border: medium none;
}

.item {
    margin-bottom: 10px;
    background: #fff;
    border: medium none;

    .text-input, {
        color: rgb(12, 12, 12)!important;
    }

    
   
}
.color{
    text-align: center;
    display: flex;
	justify-content: center;
}
}




