
<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> #Donation Funds</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  

  <div  style="text-align:start; font-size:small;">
    <h6 ion-text color="white" >Donation Funds</h6>
  </div>

<!-- <ion-text color="#ffffff"> -->
  <div   style="font-weight:lighter;font-size: smaller;">
  <label
   ion-text color="white" >Due to the pandemic of Coronavirus, this project caters for those in need of basic needs,those unable to work, and lost their jobs that feed their families.</label>
  </div>

  <div class="spacer" style="height: 3px;" ></div>
   <!-- </ion-text> -->
  <div style="font-weight:lighter;font-size:smaller;">
<p ion-text color="white">Your donation would be highly appreciated</p>
</div>
<div class="spacer" style="height: 5px;" ></div>
  <div  style="text-align:start; font-size:small;" >
    <h6 ion-text color="white">Banking Details:</h6>
  </div>

  <div style="font-weight:lighter;font-size: smaller;">
  <p ion-text color="white">Banking Name:  FNB</p> 
  <div class="spacer" style="height:0em;" ></div>
  <p ion-text color="white">Branch Code:   24007</p>
  <div class="spacer" style="height: 0em;" ></div>
  <p ion-text color="white">Account No:   624000932312 </p>
  <div class="spacer" style="height: 0em;" ></div>
  <p ion-text color="white">Ref:  "CF" + Your Name</p>
  </div>
  <div class="spacer" style="height: 10px;" ></div>
 <!--  <button ion-button  full round style="height:10vw; width:40vw;  text-transform: none; " color="standard"  (click)="payment()" center >Donate</button> -->
  <div class="color" ion-text color="white"><button ion-button round  style="height:10vw; width:40vw; text-transform: none; " center color="standard"  (click)="payment()">Donate</button>
  </div>


</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <div class="donation">
    <button ion-button  color="darkgrey" full round style=" height:10vw;  text-transform: none; font-size: smaller; font-weight: lighter;"   >
     <p ion-text color="#000000" style="text-align:start;">Channel is Read-Only</p> 
    </button>
  </div>
  </ion-toolbar>
</ion-footer>