page-donation {

    .color{
        text-align: center;
        display: flex;
        justify-content: center;
    }
  ion-content {

        background: #374179 !important;
    }  

    .bg{
        background: linear-gradient(to bottom, 374179 10%, #ffffff 90%);
    }

   
}
