<ion-content class="bg-image">



	<div >
 
		<ion-card-content>
		
		  <ion-list no-lines>
		   
			<div  style="height:30vw; width:40vw;"></div>

	

			<button  ion-button round block outline color="logo" style="height: 10vw; width:200px; margin-left: 50px;" >
				<ion-label floating><ion-icon name="person"></ion-icon> Name</ion-label>
				<ion-item center>
				<ion-input (ionChange)='nameInput($event)' placeholder="Name" text-center type="text" [(ngModel)]="userDetails.Name" required></ion-input>

				</ion-item>
		</button>
		<ion-item-divider *ngIf="!name">Name should be at least 6 characters</ion-item-divider>
		<ion-item-divider *ngIf="name"><ion-icon color="secondary" name="checkmark"></ion-icon> Name should be at least 6 characters</ion-item-divider>

		<div class="spacer" style="height: 3vw;"></div>

		

		<button ion-button outline round color="logo" style="height:10vw; width:200px; margin-left: 50px;" >
			<ion-label floating><ion-icon name="mail"></ion-icon> Email</ion-label>
			<ion-item center>
			<ion-input (ionChange)='emailInput($event)' placeholder="Email"  text-center type="email" [(ngModel)]="userDetails.Email" required></ion-input>

			</ion-item>
		</button>
		<ion-item-divider *ngIf="!email">Email should be xxxx@megatech.co.za</ion-item-divider>
		<ion-item-divider *ngIf="email"><ion-icon color="secondary" name="checkmark"></ion-icon> Email should be xxxx@megatech.co.za</ion-item-divider>

		
		<div class="spacer" style="height: 3vw;"></div>


		<button ion-button outline round color="logo" style="height:10vw; width:200px; margin-left: 50px;" >
			<ion-label floating><ion-icon name="lock"></ion-icon> Password</ion-label>
			<ion-item center>
			<ion-input (ionChange)='passwordInput($event)' placeholder="Password"  text-center type="password" *ngIf="!showPasswordText" [(ngModel)]="userDetails.Password" required></ion-input>
			<ion-input (ionChange)='passwordInput($event)'  text-center type="text" *ngIf="showPasswordText" [(ngModel)]="userDetails.Password" required></ion-input>

			</ion-item>
			<button ion-button clear item-right (click)="showHide()"> <ion-icon name="eye"> </ion-icon> </button>
        </button>
		<ion-item-divider *ngIf="!password">Password should be at least 6 characters</ion-item-divider>
		<ion-item-divider *ngIf="password"><ion-icon color="secondary" name="checkmark"></ion-icon> Password should be at least 6 characters</ion-item-divider>


        <div class="spacer" style="height: 3vw;"></div>


		<button ion-button outline round color="logo" style="height:10vw; width:200px; margin-left: 50px;" >
			<ion-label floating><ion-icon name="call"></ion-icon> Mobile</ion-label>
			<ion-item center>
			<ion-input (ionChange)='phoneInput($event)' placeholder="Mobile"  text-center type="number" [(ngModel)]="userDetails.Phone" required></ion-input>

			</ion-item>
        </button>
		<ion-item-divider *ngIf="!phone">Phone should be 10 numbers</ion-item-divider>
		<ion-item-divider *ngIf="phone"><ion-icon color="secondary" name="checkmark"></ion-icon> Phone should be 10 numbers</ion-item-divider>

		<div class="spacer" style="height: 3vw;"></div>



		<ion-item>
			<ion-label>I accept the terms and privacy policy</ion-label>
			<ion-checkbox (ionChange)='agreeWithPolicyInput($event)' color="header" checked="false" [(ngModel)]="userDetails.agreeWithPolicy" required></ion-checkbox>
		</ion-item>
		<ion-item-divider *ngIf="!agreeWithPolicy">Accept the terms and privacy policy</ion-item-divider>
		<ion-item-divider *ngIf="agreeWithPolicy"><ion-icon color="secondary" name="checkmark"></ion-icon> Accept the terms and privacy policy</ion-item-divider>


		<div class="spacer" style="height: 3vw;"></div>
	  
		<div class="color"><button ion-button [disabled]='!isenabled'  round style="height:10vw; width:40vw; text-transform: none; " color="logo"  (click)="register()">Sign Up</button></div> 
        <div class="spacer" style="height: 3vw;"></div>
        
        <div class="color"> <button ion-button round style="height:10vw; width:40vw; text-transform: none; " color="light"  ion-text-color="logo" (click)="backToLogin()">Login</button></div> 
      
        </ion-list>
  
    </ion-card-content>
</div>


</ion-content>