<ion-tabs color="col" >
  <ion-tab [root]="tab1Root" tabTitle="Posts"  tabIcon="customicon6" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Nearby"  tabIcon="customicon7"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile"  tabIcon="customicon8" (ionSelect)="profile()"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Panic Button"  tabIcon="customicon9"></ion-tab>
</ion-tabs>

