page-sars {

    .card-header{

        background-color: map-get($colors, purple );
        border-radius:30px ;
      /*   width: 100% !important; */
        color:#fff;
    }
    .card-content{
        padding:0px 16px;
        max-height:0px;
        /* width: 100% !important; */
    }

    .card{
        border-radius:30px ;
     
      width: 100% !important; 
      margin: 0 !important;
      
       
    }
    .card2{

         border-radius: 30px;
         width: 100% !important; 
         margin: 0 !important;
    }
    .card-header2{

        background-color: map-get($colors, green );
        border-radius:30px ;
      /*   width: 100% !important; */
        color:#fff;
    }
    .card-content2{
         
        padding:0px 16px;
        max-height:0px;
    }
    .day{
      border-radius:30px ;
    }
    .bOtn{
      text-align: center;
    }

}
