
<ion-header>
  <ion-navbar color="purple">
    <ion-title>Nearby</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="height:50px; width: fit-content; margin-top: -20px; margin-left: -20px;margin-right: -20px;">
      <img src="assets/sarss.png" />
  </div>

  <p ion-text color="white" style="text-align: end;">Open 08:00 - 5:00</p>

 <div>
  <div style="height: 15vw;margin-top: 30px;"></div>
   <div >
  <ion-card >    
    <ion-card-header >
     
    <!--   <button ion-button clear small icon-only item-right> -->
        <p ion-text color="white" (click)="popup()" >Available Services</p>
       <!--  <ion-icon color="light" [name]="icon"></ion-icon>
      </button> -->
    </ion-card-header >

  </ion-card> 
</div> 

    
  <div  style="height: 5vw;"></div>
  <div>
  <ion-card class="card2">    
  <ion-card-header class="card-header2" (click)="toggleAccordion()">
  <p ion-text color="white" >Book An Appointment</p>
  </ion-card-header >
  <ion-card-content  #cc>
    <div  style="height: 5vw;"></div>
    <p style=" width: 85vw; font-size: medium;  margin-left: -15vw; font-weight: bold; text-align: right;">Time </p>

    <p style=" width: 85vw;  font-size: medium;margin-top: -28px;  margin-left: 1vw; text-align: left; font-weight: bold;">Day </p>
    <ion-item  class="day" color="gray" style=" height:12vw; width:35vw; margin-left: -2vw;">
     <ion-label >Today</ion-label>
  </ion-item>
  <ion-label style="font-size: x-small; text-align: left; margin-left: 5vw;">Only same day bookings allowed</ion-label>
     <ion-item class="day" color="gray" style="width: 35vw; margin-left: 45vw; margin-top: -80px;">
       <ion-datetime color="standard"   displayFormat="h:mm A " pickerFormat="h mm A"  ></ion-datetime>
   </ion-item>
   <div class="spacer" style="height: 80px;" ></div>
      <div class="bOtn">
      <button ion-button round color="standard" (click)="alert()" center style="text-transform: none; height:12vw; width:50vw; ">Book/Queue</button>
    </div>
    <div class="spacer" style="height: 10px;" ></div>
  </ion-card-content>
 </ion-card> 
  </div>  


      <div  style="height: 1vw;"></div>
       <button ion-button block  round  color="yellow"style="height:16vw; text-transform: none;" (click)="map()">
     <p ion-text color="white" style="text-align: left;">Navigate</p>
     <img src="../assets/imgs/navigation.png" style="margin-right: -20px;">
      </button>
    </div>
 

  </ion-content>

