
<ion-header>
  <ion-navbar color="purple">
    <ion-title>Payment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="spacer" style="height: 3vw;"></div>

<ion-item class="item-leave-height">
 <ion-label>Top Up Type</ion-label> 
  <ion-select [(ngModel)]="selectedLeave">
      <ion-option value="Donation">Donation</ion-option>
      <ion-option value="Tyth">Tyth</ion-option>
      <ion-option value="Offerings">Offerings</ion-option>
  </ion-select>
</ion-item>


<div class="spacer" style="height: 3vw;"></div>
<button ion-button outline round style="height:10vw; width:200px;" >
  <ion-item>
    <ion-input type="number" placeholder="Contact no." text-left [(ngModel)]="newuser.number" ></ion-input>
  </ion-item>
  </button>


<div class="spacer" style="height: 3vw;"></div>
  <button ion-button outline round style="height:10vw; width:200px;" >
    <ion-item >
      <ion-input type="text" placeholder="Amount" class="text" text-left [(ngModel)]="newuser.amount" ></ion-input>
    </ion-item>
  </button>

<div class="spacer" style="height: 3vw;"></div>
<button ion-button outline round style="height:10vw; width:200px;" >
<ion-item >
  <ion-input type="text" placeholder="Last name" class="text" [(ngModel)]="newuser.lastName" ></ion-input>
</ion-item>
</button>


<div class="spacer" style="height: 3vw;"></div>
<button ion-button outline round style="height:10vw; width:200px;" >
  <ion-item>
    <ion-input type="email" placeholder="Email" text-center [(ngModel)]="newuser.email"></ion-input>
  </ion-item>
  </button>

<div class="spacer" style="height: 3vw;"></div>
<div class="color">
<p>Payment Method</p>

</div>
<div class="spacer" style="height: 3vw;"></div>
<div class="color"><button ion-button round  style="height:10vw; width:40vw; text-transform: none; " center color="standard"  (click)="pay()">Bank Card</button></div>
<div class="color"><button ion-button round  style="height:10vw; width:40vw; text-transform: none; " center color="standard"  (click)="payment()">Voucher</button></div>

</ion-content>
