page-payments {

    
    .color{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

}
