<ion-header>

  <ion-navbar color="logo">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



	<ion-item>
		<ion-label floating><ion-icon name="person"></ion-icon> Name</ion-label>
		<ion-input type="text" [(ngModel)]="userDetails.Name" required></ion-input>
	</ion-item>

	<ion-item>
		<ion-label floating><ion-icon name="mail"></ion-icon> Email</ion-label>
		<ion-input type="text" [(ngModel)]="userDetails.Email" required></ion-input>
	</ion-item>


	<ion-item>
		<ion-label floating><ion-icon name="call"></ion-icon>Phone</ion-label>
		<ion-textarea type="number" [(ngModel)]="userDetails.Phone" required></ion-textarea>
	</ion-item>


	<br>
	<br>
	
	<button ion-button block color="header" (click)="updateProfile()">
		Update
	</button>


</ion-content>