page-add-comment {
    .icon-photo{
        border-radius:50% !important;
        margin-top: 10px;
        height: 3em !important;
        width: 3em !important;
    }

    .post-content{
        border-bottom: 1px solid rgba(160, 160, 160, 0.453);
        padding-bottom: 10px;
    }

    .user-comments{
        padding-bottom: 10px;
    }

    .comment-area{
        border: 1px solid  rgba(160, 160, 160, 0.453);
        margin: 0px;
        padding: 0px;
        border-radius: 5px;
        width: 100%;
    }

    .comment-button{
        width: 100%;
        margin: 0px;
        padding: 0px;
        height:100%;
    }


}
