<ion-header>

  <ion-navbar color="logo">
    <ion-title style="text-align: center;">Comments</ion-title>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <!-- first comment grid -->
    <ion-row class="post-content">
      <ion-col col-2>
        <ion-avatar item-start>
          <img class="icon-photo" src="https://res.cloudinary.com/og-tech/image/upload/s--Ivs1sp-J--/c_scale,w_100/v1529311900/og_icon.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col col-10>
        <div>
          <!-- this will contain the main post content -->
          <p><strong>capt.og:</strong> Zoned Out 💥</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- this rows will represent sample comments -->
    <ion-row class="user-comments">
      <ion-col col-2>
        <ion-avatar item-start>
          <img class="icon-photo" src="https://api.adorable.io/avatars/100/big_dawg@adorable.png">
        </ion-avatar>
      </ion-col>
      <ion-col col-10>
        <div>
          <!-- this will contain the main post content -->
          <p><strong>big_dawg:</strong> Haha! I feel you bruva! Stay grinding 💯</p>
        </div>
      </ion-col>
    </ion-row> 

    <ion-row class="user-comments">
        <ion-col col-2>
          <ion-avatar item-start>
            <img class="icon-photo" src="https://api.adorable.io/avatars/100/broda_shagi@adorable.png">
          </ion-avatar>
        </ion-col>
        <ion-col col-10>
          <div>
            <!-- this will contain the main post content -->
            <p><strong>broda_shagi:</strong> Better make sure you write tests 😏</p>
          </div>
        </ion-col>
    </ion-row> 
    <ion-row class="user-comments" *ngFor="let item of items">
     
      <ion-col col-2>
        <ion-list no-lines>
        <ion-avatar item-start>
          <img class="icon-photo" src="https://firebasestorage.googleapis.com/v0/b/municipality-732a0.appspot.com/o/profileimages%2Fneo.jpg?alt=media&token=7197c484-2439-4ae4-af91-51f7aafc564c">
        </ion-avatar>
      </ion-list>
      </ion-col>
      <ion-col col-10>
        <div>
          <!-- this will contain the main post content -->
          <p><strong>Precious:</strong>{{item.name}}</p>
        </div>
      </ion-col>
   
  </ion-row> 

  </ion-grid>


</ion-content>
<ion-footer>
  <!-- add the input field fixed to the bottom of the screen -->
  <ion-grid>
      <ion-row class="comment-area">
        <ion-col col-9>
          <ion-textarea  [(ngModel)]="inputText" placeholder="Enter your comment..."></ion-textarea>
        </ion-col>
        <ion-col col-3 >
          <button ion-button color="logo" class="comment-button" (click)="addItem({name:inputText})">
            <ion-icon name="paper-plane"></ion-icon>
          </button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>

 
  