page-chat {
  
 
    ion-searchbar{
        .searchbar-input-container{
            .searchbar-input{
                border-radius: 30px !important;
            }
        }
    }

    

    .border{
        border-radius: 30px !important;
        padding-bottom: 10px;
    }
    

    .online {
        position: absolute;
        left: 30px;
        top: 42px;
        width: 13px;
        background: #08d82b;
        height: 13px;
        border-radius: 50%;
        border: 2px solid #FFF;
    }



    .onlinee {
        position: absolute;
        top: 25px;
        right: 5px;
        width: 11px;
        background: #0feb51;
        height: 11px;
        border-radius: 50%;
        border: 2px solid #FFF;
    }


    .offlinee {
        position: absolute;
        top: 25px;
        right: 5px;
        width: 11px;
        background: #c62828;
        height: 11px;
        border-radius: 50%;
        border: 2px solid #FFF;
    }
    .back{
        background-color: #257AA7;
    }
    .item{
        margin:10px auto;
      }


}