<ion-content class="back">
	<ion-label style="font-size: 18px; text-align: center; font-weight: bold;" color="light">Direct Messages</ion-label>
	<div class="spacer" style="height: 5px;"></div>
	<ion-searchbar color="logo"
	[(ngModel)]="searchTerm" 
	(ionChange)="setFilteredItems()"   placeholder="Search posts by name or post content" color="logo" style="margin-right: 50px; width: 250px;"></ion-searchbar>
  <div class="spacer" style="height: 5px;"></div>
  <div class="centered" ><button class="spacer"  ion-button round  center  style="height: 40px; width:250px;  text-transform: none; " (click)="openUsersPage()" ion-text color="logo"> Invite +<ion-icon name="person-add" color="light" style="margin-right: 50px;"></ion-icon></button></div>
<div class="spacer" style="height: 5px;"></div>
<ion-spinner name="bubbles" *ngIf="looding" class="looding"></ion-spinner>
	<div *ngIf="!looding">


		<div class="no-items" *ngIf="blockList == 0">
			<ion-icon name="person"></ion-icon>
			<p>No Chats Found</p>
		</div>
		<ion-list no-lines>
			<ion-item class="border" *ngFor="let item of Conversations.reverse(); let i = index" (click)="openChatBody(allUsers[i])" block round outline color="light" >
				<ion-avatar item-left>
					<img src="{{allUsers[i].Photo}}">
					<div class="online" *ngIf="allUsers[i].Status == onlineStatus"></div>
				</ion-avatar>
				<div>
					<h3 text-left style="font-size: 16px; font-weight: bold;" ion-text color="logo">{{allUsers[i].Name}}</h3>
					<h3 ion-text color="logo">{{item.Body}}</h3>
					<span style="margin-left: 40px; font-size: 16px; font-weight: bold;" ion-text color="logo">{{item.Time}}</span>
				</div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>