<ion-header>
  <ion-navbar color="logo" > 
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Panic Button</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >

<!--   <h4 style="padding: 1em  5% 30px 5px;">Your Utility Bills</h4> -->

 

  <ion-fab  bottom center >
    <button ion-fab end (click)="presentPrompt()" color="lightgray"  class="mypopo" >  
      <ion-icon ios="ios-add" md="md-add" ></ion-icon>
  </button>
  </ion-fab>
 
 
<ion-grid >
  <ion-row>
    <ion-col col-6 color="light">
          <div   (click)="police()"  > 
              <img style="height: 130px; width: 130px; " src="assets/imgs/saps.png" />
          </div>
            

    </ion-col>
      <ion-col col-6>
            <div   (click)="ambulance()" color="light" >
                <img style="height: 110px; width: 120px;  margin-top: 5px;"  src="assets/imgs/ambulance.png" />
            </div>
  
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
              <div (click)="church()"   color="light" >
                  <img style="height: 130px; width: 130px; "  src="assets/imgs/church.png" />
              </div>
                
    
        </ion-col>
          <ion-col col-6>
            <div (click)="coronaCare()" color="light" >
              <img  style="height: 130px; width: 130px; "  src="assets/imgs/corona.png">
            </div>
      
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
                <div (click)="security()"   color="light" >
                    <img style="height: 150px; width: 200px; margin-bottom: -60px;"  src="assets/imgs/connexme.jpg" />
                </div>
                  
      
          </ion-col>
          <ion-list *ngFor="let item of items; let i = index">

            <ion-col col-6>
          <ion-item no-lines >
            <ion-col (click)="call(item.Number)">
              <img src="assets/imgs/contact_avatar_fill.png" style="width: 120px; height: 130px;"/><br/>
              <b>{{item.Name}}</b>
                </ion-col>
          <button ion-button icon-only clear (click)="deleteItem(item)"><ion-icon name="ios-trash" color="danger" ></ion-icon></button>
          </ion-item>
            </ion-col>
           
        </ion-list>
          </ion-row>
</ion-grid>

<!-- <ion-row>
 
<ion-list *ngFor="let item of items; let i = index">

    <ion-col col-6>
  <ion-item no-lines >
    <ion-card (click)="call(item.Number)">
          <img src="assets/imgs/emerge.png"  /><br/>
          <b>{{item.Name}}</b>
        </ion-card>
  <button ion-button icon-only clear (click)="deleteItem(item)"><ion-icon name="ios-trash" color="danger" ></ion-icon></button>
  </ion-item>
    </ion-col>
   
</ion-list>
</ion-row> -->

 
</ion-content>
