page-panic-button {
    .my-width{
        width:200px;
        height:150px;
    }
    .mypopo{
        width: 200px;
        height:150px;
    }
    
    .resize{
        width:50px;
        height:50px;
    }
    .title-custom{
        width:200px;
        height:150px;

    }
 .profile-image{
            img{
                height: 150px;
                width: 100px;
                border-radius:50%;
                border: 4px solid rgba(255,255,255,0.4);
                -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
            }
        }   
    
    
    
    }
    