page-presence {
    .back{
        background-color: #257AA7;
    }
    .online{
        position: absolute;
        right: 0;
        top: 30px;
        width: 20px;
        background: rgb(157, 240, 157);
        height: 20px;
        border-radius: 50%;
      }
    
      .offline{
          position: absolute;
          right: 0;
          top: 30px;
          width: 20px;
          background: rgb(133, 27, 27);
          height: 20px;
          border-radius: 50%;
      }
      .center{
        text-align: center;
        //display: flex;
        justify-content: center;
    }
    
}
