<!--
  Generated template for the PresencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="logo">
    <ion-title>User Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back" >
  <div class="spacer" style="height: 20px;"></div>

  <div class="center" ><button class="spacer"  ion-button round  center  style="height: 40px; width:300px;  text-transform: none; " (click)="openUsersPage()" ion-text color="logo" center><p ion-text color="light"> Invite Member +</p> </button></div>
  <div class="spacer" style="height: 20px;"></div>

  <ion-row style="margin-left: 20px;">
    <ion-col size="6"  >
      <img src="assets/icons8-search.png" (click)="openUsersPage()"  style="height: 30px; width: 30px; margin-left: 10px;">
    </ion-col>
    <ion-col>
      <img src="assets/icons8-pin.png" style="height: 30px; width: 30px;">
    </ion-col>
    <ion-col>
      <img src="assets/icons8-notification.png"   (click)="notification()" style="height: 30px; width: 30px;"><ion-badge item-end>{{notifications}}</ion-badge>

    </ion-col>
    <ion-col>
      <img src="assets/icons8-settings.png" style="height: 30px; width: 30px;" (click)="settings()">
    </ion-col>
  </ion-row>
  <div class="spacer" style="height: 10px;"></div>

        <ion-label color="light" style="font-size: 20px;  margin-left: 20px;" >
         LEADEARS
        </ion-label>
        <ion-list no-lines style="margin-left: 20px;">
          <ion-item class="back" *ngFor="let item of Conversations.reverse(); let i = index" (click)="openChatBody(allUsers[i])" block round outline color="light" >
            <ion-avatar item-left>
              <img src="{{allUsers[i].Photo}}">
              <h3 text-left style="font-size: 16px; font-weight: bold;" ion-text color="light">{{allUsers[i].Name}} </h3>
              <h3 text-left style="font-size: 16px; font-weight: bold;" ion-text color="light">Admin</h3>

            


            </ion-avatar>
          </ion-item>
        </ion-list> 
        

        <ion-list no-lines style="margin-left: 20px;">
          <ion-item  class="back" *ngFor="let item of myfriends" (click)="buddychat(item)" block round outline color="light"  >
            <ion-avatar item-left>
              <img src={{item.photoURL}}>
            </ion-avatar>
            <h3 ion-text color="light" style="font-size: 16px;">{{item.Name}}</h3>
          
          </ion-item>
        </ion-list> 
        <div class="spacer" style="height: 20px;"></div>

        <ion-label color="light" style="font-size: 20px; margin-left: 20px;">
          ONLINE/OFFLINE
        </ion-label>
        <ion-list no-lines style="margin-left: 20px;">
          <ion-item class="back" *ngFor="let item of Conversations.reverse(); let i = index" (click)="openChatBody(allUsers[i])" block round outline color="light" >
            <ion-avatar item-left>
              <img src="{{allUsers[i].Photo}}">
              <h3 text-left style="font-size: 16px; font-weight: bold;" ion-text color="light">{{allUsers[i].Name}} </h3>
              <div class="online" *ngIf="allUsers[i].Status == onlineStatus" style="margin-right: 20px;"></div>
              <div class="offline" *ngIf="allUsers[i].Status == offlineStatus" style="margin-right: 20px;"></div>


            </ion-avatar>
          </ion-item>
        </ion-list> 

</ion-content>
