<!--
  Generated template for the GroupinfochannelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Group Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 

</ion-content>
