<!--
  Generated template for the TestingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>testing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <button ion-button full round (click)="onButtonClick()">Click</button>

  </ion-item>

<ion-item>
        <ion-input *ngIf="buttonClicked" type="text" placeholder="type in" color="gray"></ion-input>
      <button ion-button *ngIf="buttonClicked" color="standard" > Block</button>
      <button ion-button *ngIf="buttonClicked" color="yellowe" > Add</button>

</ion-item>


 
</ion-content>
