page-timeline {
    @keyframes slideTime {
        0% {
            max-width: 0;
        }

        100% {
            max-width: 100%;
        }
    }

    .scroll-content {
        overflow: hidden;

        .pagination {
            position: absolute;
            top: 3px;
            left: 0px;
            z-index: 1;

            ion-col {
                height: 3px;
                background-color: #999;
                border-radius: 6px;
                padding: 0px;
                margin: 0px 3px 0px 3px;

                .progress, .seen {
                    height: 100%;
                    background-color: #000;
                }

                .progress {
                    animation-name: slideTime;
                    animation-timing-function: linear;
                    animation-play-state: running;
                    animation-duration: 10s;
                }
            }
        }

        .header, .footer {
            position: absolute;
            left: 0px;
            width: 100%;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            z-index: 1;
    
            div {
                display: flex;
                align-items: center;
    
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
    
                .info {
                    display: block;
                    
                    span {
                        display: inherit;
                    }
                }
            }

            button {
                color: #fff;
            }
        }

        .header {
            top: 0px;
        }

        .footer {
            bottom: 0px;
        }

        .isPaused {
            .progress {
               animation-play-state: paused !important;
            }
        }

        .item {
            ion-spinner {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
            }

            video {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}