page-accountprofilecot {
    .profile-image{
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .ion-md-customicon {
        width: 30px;
        height: 30px;
    content: url('../assets/icons8-share.png');
   
  }
  .ion-md-customicon1 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-heart.png');
  
  }
  .ion-md-customicon2 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-comments.png');
  
  }

    ion-scroll {
        height: 100px;

        .story {
            position: relative;
            display: inline-block;
            color: #999;
            margin-left: 10px;
            padding: 2px;

            &.unseen {
                color: #000;

                img {
                    box-shadow: 0px 0px 0px 2px #f00;
                }
            }

            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                border: 2px solid #fff;
                box-shadow: 0px 0px 0px 2px #999;
            }

            span {
                max-width: 55px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    ion-searchbar{
        .searchbar-input-container{
            .searchbar-input{
                border-radius: 30px !important;
                outline-color: #374179;
            }
        }
    }

}
