<ion-header>
	<ion-navbar color="logo">
	 <button ion-button menuToggle>
	  <ion-icon name="menu"></ion-icon>
	 </button>
	 <ion-title>
        Posts
	 </ion-title>
	</ion-navbar>
   </ion-header>

<ion-content>
  <ion-searchbar  outline color="logo" 
  [(ngModel)]="searchTerm" 
  (ionChange)="setFilteredItems()"   placeholder="Search posts by name or post content" 
></ion-searchbar>
  <ion-scroll scrollX="true" text-nowrap margin-top>
    <div class="story" text-center *ngFor="let story of stories; let index = index" [ngClass]="!story.seen ? 'unseen' : ''" (click)="openStoryViewer(index)">
      <img [src]="story.userPicture" [alt]="'Story de' + story.userName">
<div>
	 <span class="block">{{ story.userName }}</span>
</div>
     
	</div>
	
  </ion-scroll>
  <ion-label color="col" style="font-size: 18px; font-weight: bold; margin-left: 15px;">Latest Posts</ion-label>
  <ion-card>
	 

	  <ion-item>
	    <ion-avatar item-start>
	      <img src="https://firebasestorage.googleapis.com/v0/b/municipality-732a0.appspot.com/o/WhatsApp%20Image%202020-08-12%20at%2007.25.58.jpeg?alt=media&token=b5a120a4-2977-4256-b93c-8f54dad845f8">
	    </ion-avatar>
	    <h2>Prophet Mike</h2>
	    <p>August 10, 20</p>
	  </ion-item>

	  <img src="/assets/imgs/WhatsApp Image 2020-08-12 at 07.26.04 (3).jpeg" />

	  <ion-card-content>
	    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
	  </ion-card-content>

	  <ion-row>
	    <ion-col>
        <button (click)="handleLike()" (press)="showReactions($event)" ion-button icon-left clear small>
			<img src="assets/icons8-heart.png" style="height: 25px; width: 25px;" />{{LikeValue}}
	      </button>
	    </ion-col>
	    <ion-col style="margin-right: -30px;">
	      <button ion-button icon-left clear small (click)="toCommentSection()" >
			<img src="assets/icons8-comments.png" style="height: 20px; width: 20px; " />
	      </button>
	    </ion-col>
	    <ion-col  style="margin-right: -100px;">
        <button ion-button icon-left clear small (click)="shareImg(img)"  style="margin-right: 20px;">
			<img src="assets/icons8-share.png" style="height: 20px; width: 20px; " />
	       
	      </button>
	    </ion-col>
	  </ion-row>

  </ion-card>
  <ion-card>

	  <ion-item>
	    <ion-avatar item-start>
	      <img src="https://firebasestorage.googleapis.com/v0/b/municipality-732a0.appspot.com/o/WhatsApp%20Image%202020-08-12%20at%2007.26.00.jpeg?alt=media&token=ffc0d97e-5432-4b18-874e-be0b10424c45">
	    </ion-avatar>
	    <h2>AFM Youth</h2>
	    <p>August 11, 20</p>
	  </ion-item>

	  <img src="/assets/imgs/WhatsApp Image 2020-08-12 at 07.26.05.jpeg" />

	  <ion-card-content>
	    <p>Gender-based violence (GBV) is violence that is directed at an individual based on his or her biological sex OR gender identity. It includes physical, sexual, verbal, emotional, and psychological abuse, threats, coercion, and economic or educational deprivation, whether occurring in public or private life. </p>
	  </ion-card-content>

	  <ion-row>
	    <ion-col>
        <button (click)="handlingLike()" (press)="showReactions($event)" ion-button icon-left clear small>
			<img src="assets/icons8-heart.png" style="height: 25px; width: 25px;" />{{Like}}

	      </button>
	    </ion-col>
	    <ion-col style="margin-right: -30px;">
	      <button ion-button icon-left clear small (click)="toCommentSection()">
			<img src="assets/icons8-comments.png" style="height: 20px; width: 20px;" />
	      </button>
	    </ion-col>
	    <ion-col style="margin-right: -100px;">
        <button ion-button icon-left clear small (click)="shareImgg(img)">
			<img src="assets/icons8-share.png" style="height: 20px; width: 20px;" />
	       
	      </button>
	    </ion-col>
	  </ion-row>

  </ion-card>


</ion-content>