<ion-header>

  <ion-navbar color="logo">
    <ion-title (click)="donate()">{{groupDetails.Name}}</ion-title>
    <ion-buttons end>
    	<button ion-button ion-icon icon-only icon-left (click)="showActionSheet()">
    		<ion-icon name="more"></ion-icon>
    	</button>
	</ion-buttons>
	<ion-buttons end>
    	<button ion-button icon-left icon-only (click)="opensettings()">
    		
    		<ion-icon name="notifications"></ion-icon>
    	</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>




<div class="chatwindow">
	<ion-list no-lines>
		<ion-item *ngFor="let message of allMessages; let i = index">


			<ion-avatar item-right *ngIf="message.Id != User_Uid">
				<img src="{{allUsers[i].Photo}}">
			</ion-avatar>
			<div class="bubble you" *ngIf="message.Id != User_Uid">
				<h3 text-wrap ion-text color="light">{{message.Body}}</h3>
				<div class="spacer" style="height: 10px;"></div>

				<div><h3 text-wrap ion-text color="light" style="margin-left: 50px;" >{{message.Time | date:'short'}}</h3></div>

			</div>


			<ion-avatar item-left *ngIf="message.Id === User_Uid">
				<img src="{{allUsers[i].Photo}}">
			</ion-avatar>
			<div class="bubble me" *ngIf="message.Id === User_Uid">
				<h3 text-wrap ion-text color="light">{{message.Body}}</h3>
				<div class="spacer" style="height: 10px;"></div>

				<div><h3 text-wrap ion-text color="light" style="margin-left: 50px;" >{{message.Time | date:'short'}}</h3></div>

			</div>


		</ion-item>
	</ion-list>
</div>








</ion-content>


<ion-footer fixed>
	<ion-toolbar color="col">
		<ion-textarea  round block outline color="light"  placeholder="type your message" ion-text color="light" type="text" [(ngModel)]="newMessage.body"></ion-textarea>
		<ion-buttons end>
			<button ion-button ion-icon icon-only (click)="sendMessage()">
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>