page-groupchatchannel {
.chat {
    width: 320px;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 17px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    height: -50px;
    width: -60px;
}



.me {
    margin: 5px 45px 5px 20px;  
    background-color: #374179;    ;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
             
}

.you {
    margin: 5px 20px 5px 45px;  
    background-color: #257AA7;       
              
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}
.send{
    background-color: #257AA7;       

}

.chatwindow {
    padding-bottom: 70px;
}
.input{
    border-radius: 30px !important;
    outline-color: #374179;
}
}
