
<ion-header>

  <ion-navbar color="logo">
    <ion-title text-wrap>Heading to {{destination_name}}, <br/> <small>about {{distance}}m from current location</small></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

   
        <div class="direction-card" #directionsPanel></div>
        <div #map id="map"></div> 
    
   
</ion-content>
