page-post {
    ion-item {

        --border-width: 0;
        --inner-border-width: 0;
    }    
    .back{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .ion-md-customicon {
        width: 30px;
        height: 30px;
    content: url('../assets/icons8-card_payment.png');
   
  }
  .ion-md-customicon1 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-calendar_plus.png');
  
  }
  .ion-md-customicon2 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-reporter.png');
  
  }
  .ion-md-customicon3 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-place_marker.png');
  
  }
  .ion-md-customicon6{
      width: 30px;
      height:30px;
      content:url('../assets/homepage.png');
  }
  .ion-md-customicon7{
      width: 30px;
      height:30px;
      content:url('../assets/icons8-google_nearby.png');
  }
  .ion-md-customicon8{
      width: 30px;
      height:30px;
      content:url('../assets/icons8-customer.png');
  }
  .ion-md-customicon9{
      width: 30px;
      height:30px;
      content:url('../assets/icons8-home_button.png');
  }
  .ion-md-customicon4 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-rss.png');
  
  }
    
  
  .image img {
    position: absolute;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}


}

    
    
    
    


