
<ion-header>

  <ion-navbar color="logo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Profile</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  
<!--Profile Picture -->
<div class="spacer" style="height: 10px;"></div>

    <div class="spacer"  style="height: 5px;"></div>
    <ion-item lines="none">
    <ion-avatar item-start>
    <img src="{{details.Photo}}" style="width: 80px; height: 80px; margin-left: 10px;" class="image" (click)="proPic()" >
  </ion-avatar>
    <p style="font-size: 18px; font-weight: bold; " ion-text color="logo">{{details.Name}}</p>
  </ion-item>
   <div class="spacer" style="height: 30px;"></div>

   <div>
		<button ion-button round outline color="logo"  style="margin-left: 20px; width: 300px; text-transform: none; " ion-text color="darkgrey">{{details.Email}}</button>
  </div>
  <div class="spacer" style="height: 3px;"></div>

	<div>
				<button ion-button round outline color="logo"  style="margin-left: 20px; width: 300px; text-transform: none; " ion-text color="darkgrey" >{{details.Phone}}</button>
		
  </div>
  <div class="spacer" style="height: 10px;"></div>

  <div class="back">
    <button ion-button round color="standard" style="height:10vw; width: 150px; text-transform: none; " center (click)="editProfile()" >Update</button>
    </div>
    <div class="spacer" style="height: 3vw;"></div>
    
    <!--Profile Settings-->
  
  <div class="profile"><button ion-button round  style="height:10vw; width:300px; text-transform: none;margin-left: 20px; " center color="very"  >Account settings</button></div>  
  



</ion-content>
<ion-footer>
  <ion-toolbar color="col">
    <ion-tabs color="col" (click)="tabs()" >
      <ion-tab [root]="tab1Root"   tabIcon="customicon6" ></ion-tab>
      <ion-tab [root]="tab2Root"   tabIcon="customicon7"></ion-tab>
      <ion-tab [root]="tab3Root"   tabIcon="customicon8" (ionSelect)="profile()"></ion-tab>
      <ion-tab [root]="tab4Root"   tabIcon="customicon9"></ion-tab>
    </ion-tabs>
    
  </ion-toolbar>
</ion-footer>