<!--
  Generated template for the NewgroupchannelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="logo">
    <ion-title>Add a New Channel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="body-content">
    <ion-list>
  
      <br>
      <br>
      
      <ion-avatar>
        <img src="{{group.Picture}}" (click)="selectPicture()">
      </ion-avatar>
  
      <br>
      <br>
  
  
      <h2 (click)="editName()">{{group.Name}} <ion-icon color="header" name="create"></ion-icon></h2>
  
      <br>
      <br>
  
      <div>
        <p>Tap on group picture or name to change it</p>
      </div>
  
  
      <br>
      <br>
  
      <button ion-button color="header" block (click)="createGroup()">
        Create Channel
      </button>
  
  
  
    </ion-list>
  </div>
  
  
  
  
  
  
</ion-content>
