page-timetimeline {

    .titleicon div {
        display: inline-block;
        margin-bottom: 10px;
    }
    button {
        ion-badge {
            position: absolute;
            top: -0.2rem;
            right: -0.2rem;
            opacity: 0.9;
            & ~ ion-icon {
                margin-right: 1.2rem;
            }
        }
    }
    u,
    a {
        text-decoration: none !important;
        // display: inline !important;
    }
    .likes {
        font-size: 12px;
        text-transform: lowercase;
        //color: #0000;
    }
    .likes .icon {
        font-size: 1.2em;
    }
    .add-story {
        padding: 5px;
        text-align: center;
    }
    .add-story button {
        margin-top: 35%;
        width: 64px;
        height: 64px;
        border: 2px dotted #d6d6d6;
        border-radius: 50%;
        color: rgb(0, 0, 0);
    }
    span a {
        display: inline-block !important;
        font-size: 0.7em;
        color: #164a72;
    }
    
    .postText {
        display: inline;
        // color: rgba(31, 31, 31, 0);
    }
    .card-content {
        padding-top: 0;
    }
    
    .card {
        border-radius: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 3px;
        margin-top: 0px;
        width: calc(100%);
    }
    .card > ion-avatar {
        width: 2em !important;
        height: 2em !important;
      }
    
    ion-col {
        top: 50%;
        margin: auto 0;
        vertical-align: middle;
    }
    
    ion-avatar {
        width: 2em !important;
        height: 2em !important;
    }
    
    .button-large-md {
        font-size: 1.4rem !important;
    }
    .icon {
        font-size: 1.4em;
    }
    
    .timeago {
        color: #535353;
        font-size: 12px;
        text-transform: lowercase;
    }
    
    .cardImage {
        position: relative;
        display: block;
        size: cover;
        height: 50vw;
        width: calc(100%);
        object-fit: cover;
    }
    
    .margin-bottom {
        margin-bottom: 55px;
    }
    
    .timeline-card {
        background-color: transparent;
        margin-bottom: 15px;
        width: 100%;
        box-shadow: 2px, 2px, 2;
    }
    
    .fabbar {
        margin-bottom: 50px;
    }
    
    ion-item {
        margin: auto 0;
    
        h4 {
            color: #164a72;
        }
    }
    
    .item{
        width: 100%;
    }
    
    .row {
        height: 100%;
        display: flex !important;
        align-content: center;
        align-items: center;
    }
    
    // .headerChip img {
    //     border-radius: 2em;
    // }
    
    .titleicon div {
        display: inline-block;
        margin-bottom: 4px;
    }

}
