<ion-header>

  <ion-navbar>
    <ion-title>Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card *ngIf="user">
    <ion-item class="post" (click)="addPost()" >
      <ion-thumbnail item-left  >
        <img src="{{user.img}}"  >
      </ion-thumbnail>
      <p >What's on your mind?</p>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let item of timelineData">
    <ion-item >
      <ion-avatar item-left>
        <img src="{{item.avatar}}"  >
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.dateCreated | date:'short'}}</p>
      <ion-icon  item-right  name="more" (click)="reportPost(item)"></ion-icon>

    </ion-item>

    <ion-card-content>
      <p>{{item.postText}}</p>
    </ion-card-content>
    <!-- <img *ngIf="p.isType==2"   src="{{p.mapUrl}}" style="200px" (click)="openMap(p.mapData.lat,p.mapData.long)"> -->
    <img src="{{item.image}}" style="height:200px" *ngIf="item.image" (click)="enlargeImage(item.image)">
    <img src="https://maps.googleapis.com/maps/api/staticmap?&zoom=13&size=500x200&maptype=roadmap&markers=color:red|label:S|{{item.lat}},{{item.long}}&key=AIzaSyAt0edUAx4S2d7z8wh1Xe04yE9Xml1ZLPY" style="height:200px" *ngIf="item.location" (click)="openMap(item.lat,item.long)">
    <ion-row text-center>
      <ion-col col-4>
        <button ion-button icon-left clear small color="dark" (click)="likePost(item)" *ngIf="!item.isLike">
          <ion-icon name="thumbs-up" ></ion-icon>
          <div> {{item.likes}} Like </div>
        </button>
        <button ion-button icon-left clear small color="custom" (click)="delikePost(item)" *ngIf="item.isLike">
          <ion-icon name="thumbs-up" ></ion-icon>
          <div>{{item.likes}} Like</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small color="dark" (click)="disikePost(item)" *ngIf="!item.isdisLike">
          <ion-icon name="thumbs-down" ></ion-icon>
          <div> {{item.dislikes}} Dislike </div>
        </button>
        <button ion-button icon-left clear small color="custom" (click)="dedislikePost(item)" *ngIf="item.isdisLike">
          <ion-icon name="thumbs-down" ></ion-icon>
          <div>{{item.dislikes}} Dislike</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small color="dark" (click)="commentPost(item)" *ngIf="!item.isComment">
          <ion-icon name="text"></ion-icon>
          <div>{{item.comments}} Comment</div>
        </button>
        <button ion-button icon-left clear small color="custom" (click)="commentPost(item)" *ngIf="item.isComment" >
          <ion-icon name="text"></ion-icon>
          <div>{{item.comments}} Comment</div>
        </button>
      </ion-col>
    
    </ion-row>
  </ion-card>
</ion-content>
