page-booked {

    .card2{

        border-radius: 30px;
        width: 100% !important; 
        margin: 0 !important;
   }
   .card-header2{

       background-color: map-get($colors, green );
       border-radius:30px ;
     /*   width: 100% !important; */
       color:#fff;
   }
   .text{

         text-align: center;
   }

}
