<ion-header>
  <ion-navbar color="purple">
    <ion-title>Nearby</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="height:50px; width: fit-content; margin-top: -20px; margin-left: -20px;margin-right: -20px;">
      <img src="assets/sarss.png" />
     
  </div>
  <p ion-text color="white" style="text-align: end;">Open 08:00 - 5:00</p>

  <div  style="height: 25vw;"></div>
  <div>
  <ion-card class="card2">    
  <ion-card-header class="card-header2" (click)="toggleAccordion()">
  <p ion-text color="white" style="font-size: x-small;" >You have been successfully queued</p>
  </ion-card-header >
 </ion-card> 
 
 <div class="text">
 <p ion-text color="very">You have been queued at SARS for </p>
 <label ion-text color="very">Today 14:00</label>
 <p ion-text color="very">Your ticket number </p>
 <label  ion-text color="purple" style="font-size: medium;font-weight: bold;">#567789</label>
</div>
 <div  style="height: 25vw;"></div>
 <div > <button ion-button round style="height:10vw; width:40vw; text-transform: none; " color="purple" (click)="goback()" >Done</button></div>
 

  </div>  




</ion-content>
