<ion-content class="bg-image">


	<div >

		<div  style="height:30vw; width:40vw;"></div>
		<ion-item>
			<ion-label floating><ion-icon name="mail"></ion-icon> Email</ion-label>
			<ion-input (ionChange)='emailInput($event)' type="email" [(ngModel)]="userDetails.Email" required></ion-input>
		</ion-item>
		<ion-item-divider *ngIf="!email">Email should be xxxx@megatech.co.za</ion-item-divider>
		<ion-item-divider *ngIf="email"><ion-icon color="secondary" name="checkmark"></ion-icon> Email should be xxxx@xxxx.co.za</ion-item-divider>

		<br>

		<button color="header" ion-button block (click)="forgrtPassword()" [disabled]='!isenabled'>
			Reset Password
		</button>

		<br>

		<p block class="login" (click)="backToLogin()">
			Back to login !
		</p>

	</div>





</ion-content>