page-reset-password {

	.bg-image {
        background-image: url('../assets/imgs/background.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: top right;
        background-size: 108%;
	}


	.scroll-content {
	    background: url('../assets/imgs/bg.jpg') !important;
	    background-size: cover !important;
	    background-attachment: fixed !important;
	}



	.containermd {
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	.logo {
	    text-align: center;
	    margin-top: 50px;
	    margin-bottom: 20px;
	}

	.item-md {
	    padding-left: 0;
	    background-color: transparent;
	}


	.item-md.item-block .item-inner {
	    padding: 0;
	}


	.label-md[stacked], .label-md[floating] {
	    color: #FFF;
	}

	.input-wrapper ion-icon {
	    margin-right: 10px;
	}

	ion-icon {
	    color: #FFF;
	}

	.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
	    color: #FFF;
	}

	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
	    border-bottom-color: #1040f1;
	    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
	    box-shadow: inset 0 -1px 0 0 #32db85;
	}


	.item-divider-md {
	    border-bottom: none !important;
	}


	p {
	    color: #FFF;
	}

	p.login {
		text-align: center;
	    text-transform: uppercase;
	    background: rgba(0, 0, 0, 0.38);
	    margin-left: -30px;
	    margin-right: -30px;
	    margin-top: 0;
	    margin-bottom: 0;
	    padding: 10px;
	    position: fixed;
	    width: 100%;
	    bottom: 0;
	}



}