<ion-content >
	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	   </button>

<ion-tabs color="logo" tabsPlacement="top">
	<ion-tab [root]="tab1Root" tabsHideOnSubPages='true' tabTitle="Unread" tabIcon="notifications"></ion-tab>
	<ion-tab [root]="tab2Root" tabsHideOnSubPages='true' tabTitle="Read" tabIcon="notifications-outline"></ion-tab>
</ion-tabs>

</ion-content>