<!-- left menu -->
<ion-menu [content]="content"  >
    <ion-tabs color="logo" class="help"  #myTabs>
      <ion-tab [root]="tab1Root"   tabIcon="chatboxes" class="menuicon ">
      </ion-tab>     
    
      <ion-tab [root]="tab3Root" tabIcon="contact" class="menuicon " ></ion-tab>

      <ion-tab [root]="tab2Root" tabIcon="add-circle" (ionSelect)="newgroup()" class="menuicon " ></ion-tab>
          
    
    </ion-tabs>
 
     
</ion-menu>


<!-- right menu -->
<ion-menu side="right" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Secondary Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-list>
    <button menuClose="right" ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
