page-menugp {
  .menu {
    --width: 50px;
  }
  .item{
    margin:10px auto;
  }

  .tabIcon{
    font-size:100px;
}

  .profile-image{
    
        height: 150px;
        width: 150px;
        border-radius:50%;
        border: 4px solid rgba(255,255,255,0.4);
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    
}
 
    .color{
      background-color: #2F2F2F;
    }
    .test{
      border: 4px solid rgba(255,255,255,0.4);

        background-color: #ffffff;
    }
    
    .bg-style {
        background: #257AA7;
    }
    .ionicons {
        cursor: pointer;
      }
    

      .help{
        .tabbar {
          top: 0;
          width: 5rem;
          flex-direction: column;
          background-color: #2F2F2F !important;
        }
        
      
        ion-header {
          left: 5rem;
          right: 0;
        }
      
        ion-content {
          left: 5rem;
          right: 0;
        }
      
        .tabs-ios .tab-button {
          width: 100%;
          font-size: 10px;
          color: #cfa972;
          padding: 0;
      
          &[aria-selected="false"] {
            color: #cfa972 !important;
            background-color: #cfa972 !important;
          }
      
          &[aria-selected="true"] {
            color: #ffffff !important;
            background-color: #b28850 !important;
          }
      
          &[aria-selected="true"] .tab-button-icon {
            color: #ffffff;
          }
      
          &[aria-selected="false"] .tab-button-icon {
            color: #ffffff;
          }
        }
      
        .has-icon .tab-badge {
          right: calc(50% - 22px);
        }
      
        .tab-badge {
          top: 33%;
        }
        
          .fixed-content {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin-bottom: 0 !important;
            position: absolute;
            display: block;
          }
         
          .scroll-content {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin-bottom: 0 !important;
            position: absolute;
            display: block;
         
          }
    
      }
      .ion-md-customicon {
        width: 30px;
        height: 30px;
    content: url('../assets/icons8-card_payment.png');
   
  }
 
  .ion-md-customicon1 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-calendar_plus.png');
  
  }
  .ion-md-customicon2 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-reporter.png');
  
  }
  .ion-md-customicon3 {
      width: 40px;
      height: 30px;
  content: url('../assets/icons8-place_marker.png');
  
  }
  .ion-md-customicon8{
      width: 30px;
      height:30px;
      content:url('../assets/icons8-customer.png');
  }
  .tabIcon{
    border-radius:5px;
    width: 40px;
    height: 35px;
  }
  .ion-md-customicon9{
    border-radius:5px;
    width: 40px;
    height: 35px;
      content:url('https://firebasestorage.googleapis.com/v0/b/myapp-4eadd.appspot.com/o/chatterplace.png?alt=media&token=e51fa887-bfc6-48ff-87c6-e2c61976534e');
  }
  .ion-md-customicon4 {
      width: 30px;
      height: 30px;
  content: url('../assets/icons8-rss.png');
  
  }
  


}
