
<ion-header>

  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Profile</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  
<!--Profile Picture -->
<div class="spacer" style="height: 10px;"></div>
  <div class="profile-image" (click)="editimage()">
    <p (click)="editnamel()"  style="text-align: right; color: blue; text-align: center; margin-right: 50px; margin-bottom: -12px; margin-top: -158px; font-weight:lighter;  font-size: 18px;"> {{(profileData | async)?.lastName}}</p>
  <div style=" margin-bottom: -10px; margin-top: -35px; vertical-align: text-top; text-align: 40px;margin-left: 25px;">
  <img src="{{avatar}}" >
  </div>
   </div>

<!--Username-->
<div style=" margin-bottom: -10px; margin-top: -100px;">
<div  >
  <button ion-button round outline color="purple"  style="width: 240px; height:10vw;"  (click)="editnamel()" >
    <ion-item >
      <ion-input placeholder="Username" class="text" style=" font-size: 12px; text-align: left;"></ion-input>
    </ion-item>
  
  </button>
  </div>

<!--Email Address-->
<div>
  <button ion-button round outline color="purple"  style="width: 240px; height:10vw;" class="center" (click)="editnamen()"  >
    <ion-item >
      <ion-input placeholder="Email Address" class="text" style=" font-size: 12px; text-align: left;" ></ion-input>
    </ion-item>
  </button>
</div>
<!---Change Password-->
<div>
  <button ion-button round outline color="purple"  style="width: 240px; height:10vw; text-align: left;" class="center" (click)="editnameid()">
    <ion-item >
      <ion-input placeholder="Change Password" class="text" style=" font-size: 12px;" ></ion-input>
    </ion-item>  
  </button>
</div>

<!--Update Profile-->
<div class="update">
  <button ion-button round color="standard" class="update" (click)="profile()" >Update</button>
  </div>
  <div class="spacer" style="height: 3vw;"></div>
  
  <!--Profile Settings-->

<div class="color"><button ion-button round  style="height:10vw; width:200vw; text-transform: none; " center color="very"  (click)="updated()">Account settings</button></div>  
 
  
</div>
</ion-content>