page-preference {
    .profile-image{
        img{
            height: 50px;
            width: 50px;
            border-radius:50%;
            border: 4px solid rgba(255,255,255,0.4);
            -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
                display: flex;
                justify-content: center;
        }
    }
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .center{
        text-align: center;
        height: 8vw;
        width: 220vw;
    }
    .update{
    
        text-align: center;
        height:10vw;
    }
    .text{
        text-align: left;
    }
    .color{
        text-align: center;
        display: flex;
        justify-content: center;
    }
 
}
