page-nearcentre {
    #map {
		height: 100%;
	}
	.ion-md-neo {
		width: 25px;
		height: 25px;
	content: url('../assets/icons8-restaurant.png');
   
  }
  .ion-md-neo1 {
	width: 25px;
	height: 25px;
content: url('../assets/icons8-school.png');

}
.ion-md-neo2 {
	width: 25px;
	height: 25px;
content: url('../assets/icons8-church.png');

}
.ion-md-neo3 {
	width: 25px;
	height: 25px;
content: url('../assets/icons8-bank_building.png');

}
.ion-md-neo4 {
	
	width: 25px;
	height: 25px;
content: url('../assets/icons8-buying.png');

}

}
