
<ion-header >
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons class="btns" right >
      <button class="alert-default" left ion-button icon-only clear large (click)="showPlaceDetailsPage(selected_place)" padding margin-right style=" font-size: 16px; text-transform: none;">
          <ion-icon name="list"></ion-icon>
          More Info
      </button>
  
      <button class="alert-info" right ion-button icon-only clear large (click)="showDirectionPage(selected_place)" padding margin-left style="font-size: 16px; text-transform: none;">
          <ion-icon name="navigate"></ion-icon>
          Directions
      </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content color="standard">
 
  <ion-tabs color="standard">
    <ion-tab [root]="tab6Root"  tabTitle="Schools" tabIcon="neo1"></ion-tab>
    <ion-tab [root]="tab1Root"  tabTitle="Post Office" tabIcon="neo" ></ion-tab>
   <!--  <ion-tab [root]="tab2Root"  tabTitle="Shopping Center" tabIcon="neo4"></ion-tab>
    <ion-tab [root]="tab5Root"  tabTitle="Church"  tabIcon="neo2" ></ion-tab>
    <ion-tab [root]="tab6Root"  tabTitle="Schools" tabIcon="neo1"></ion-tab>
    <ion-tab [root]="tab7Root"  tabTitle="Banks" tabIcon="neo3"></ion-tab> -->
  </ion-tabs>

</ion-content>





 


