<ion-header>

  <ion-navbar color="logo">
    <ion-title>Suggested for you</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


<ion-spinner name="bubbles" *ngIf="looding" class="looding"></ion-spinner>



	<div *ngIf="!looding">


		<div class="no-items" *ngIf="blockList == 0">
			<ion-icon name="person"></ion-icon>
			<p>No Users found</p>
		</div>


		<ion-item *ngFor="let user of users" (click)="showUserConfirmation(user)">
			<ion-avatar item-start>
		      <img src="{{user.Photo}}">
		    </ion-avatar>
		    <h2>{{user.Name}}</h2>
		</ion-item>

	</div>



</ion-content>