page-nearby {
    .tbncolor{
        text-align: center;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    ion-content{
 background: linear-gradient(
    to bottom,
    #374179 40%,
    #ffffff 40%,
  );
    }
    #map{
      height: 100%;
    }
   
}
